/*.csv
/*.npy
/*.npz
/**.csv
/**.npy
/**.npz
./interactive/Autobatch/batch2_part_2.npy
./interactive/Autobatch/batch1_part_1.npy
./interactive/Autobatch/batch1_part_2.npy
./interactive/Autobatch/batch2_part_1.npy
./interactive/Autobatch/current.npy
