/*.csv
/*.npy
/*.npz
/**.csv
/**.npy
/**.npz
./exec/state.batch8.npy
./exec/state.batch7.npy
./exec/output.npy
./exec/state.batch6.npy
./exec/state.batch2.npy
./exec/state.batch3.npy
./exec/state.batch1.npy
./exec/state.batch10.npy
./exec/state.batch9.npy
./exec/state.batch4.npy
./exec/state.batch5.npy
./exec/output.npy
